*{
    margin: 0;
    box-sizing: border-box;
  }
  
  body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(52, 71, 199);
  }
  
  .header{
    background-color: rgb(101, 124, 239);
    height: 80px;
    position: relative;
    width: 100%;
    top:0;
    left: 0;
  }
  .nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: auto;
  }
  
  .logo{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
  }
  
  .nav-link{
    /* font-size: 50px; */
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  .nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
  }
  
  .nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
  }
  
  .nav-menu-link:hover{
  color: rgb(183, 9, 128);
  }

  .seccion-con-imagen{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #fondo{
    width: 100%;
    height: 600px;
    background-image: url(./imagenes/ghz.jpg);
    background-repeat:    no-repeat;
    background-size:  cover;
    background-position:  center;
  }
 
  .sobre-mi{
    padding-top: 200px;
    font-size: 10px;
    display:flex;
    justify-content: flex-start;
    margin:0px auto;
    font-family: Arial, sans-serif;
  }

  .proyectos{
    justify-content: flex-end;
    max-width: 1500px;
    margin: 0px auto;
    font-family: Arial, sans-serif;
    column-count: 2;
  }
  .informacion1 {
    width: 50%;
    padding: 10px;
    margin-right: 10px;
    color: black;
  }

  .informacion2 {
    width: 50%;
    padding: 10px;
    margin-left: 10px;
    color: black;
  }
  .juegos {
    justify-content:center
  }

  .proyectos-botones {
    display: flex;
    justify-content: left;
    gap: 10px; 
    margin: 10px 0;
    padding-left: 10px;
  }

 
  .proyectos-botones a {
    background-color: #01131c;
    padding: 5px 10px;
    border-radius: 10%;
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    text-transform: uppercase;
  }
  .proyectos-botones a:hover {
    background-color: #16688e;
  }

  .botones-info {
    display: flex;
    align-items: center;
    background-color: #a8dbf5;
    padding: 5px 10px;
    border-radius: 10%;
    transition: 0.3s;
  }
  .botones-info img {
    width: 30px; 
    height: auto; 
    margin-right: 5px;
  }
  .botones-info span {
    margin-left: 5px;
  }